.root {
    -fx-font-family: Verdana;
    -fx-font-size: 20px;
    -fx-font-style: normal;
}

#consoleArea {
    -fx-background-color: WHITE;
    -fx-padding: 5px;
    -fx-border-color: grey;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

#table .table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
    -fx-alignment: center;
}

#table .table-row-cell {
  -fx-font-smoothing-type: lcd;
  -fx-animated: true;
  -fx-font-size: 25px;
}

#minimapWrapper {
    -fx-border-color: black;
    -fx-border-width: 1px;
}
